{% extends "base.html.twig" %}

{% block title %}AppBundle:Pages:header{% endblock %}

{% block stylesheets %}
    <style>
        *{
            word-wrap:break-word;
        }
        BODY{
            margin: 0;
            background: darkgray;
        }
        .mainDiv{
            border: 5px solid silver;
            border-radius: 2%;
            max-width: 500px;
            background: white;
            text-align: center;
            padding: 20px 10px 10px;
            margin: 20px auto 30px;
        }
        .phrase{
            border: 3px solid gray;
            border-radius: 2%;
            max-width: 500px;
            background: white;
            text-align: left;
            padding: 15px 20px 15px;
            margin: 10px 5px;
            display:flex;
            flex-direction: column;
            height: 100%;
        }
        #form_phrase{
            width:90%;
            height: 50px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="mainDiv">

        <a href="{{ path('app_translation_index') }}">{% trans %}MainPage{% endtrans %}</a>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('fos_user_security_logout') }}">{% trans %}Logout{% endtrans %}</a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{% trans %}Login{% endtrans %}</a>
            <a href="{{ path('fos_user_registration_register') }}">{% trans %}Register{% endtrans %}</a>
        {% endif %}
        <div class="trans" style="float: right">
            <a href="{{ path('app_translation_language', {'_locale': 'en'}) }}">en</a>
            <a href="{{ path('app_translation_language', {'_locale': 'ru'}) }}">ru</a>
        </div>
    </div>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
{% endblock %}
