{% extends "@FOSUser/layout.html.twig" %}

{% block title %}AppBundle:Translation:index{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="mainDiv phrases">
        <h1>{% trans %}Page with phrases{% endtrans %}</h1>
        {% for phrase in phrases %}
            <div class="phrase">
                <a href="{{ path('app_translation_view', {'id':phrase.id }) }}">{{ phrase.translate('ru').phrase }}</a>
            </div>
        {% endfor %}
    </div>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="mainDiv">
                    <p>{% trans %}Enter your phrase{% endtrans %}</p>
                {{ form_start(form, {'attr': {'class': 'phrase_input'}}) }}
                {{ form(form) }}
                {{ form_end(form) }}

            </div>
        {% endif %}
{% endblock %}