{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <title>Registration</title>
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
